{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% comment %} <link href="{% static "css/blog.css" %}" rel="stylesheet"> {% endcomment %}
  </head>
  <body>
    <span>
      <a href="{% url 'blog:post_list' %}">Back Home</a>
    </span> - 
    <span>
      <a href="{% url 'blog:post_new' %}">Create new post</a>
    </span>

    <p>This is my blog. I've written {% total_posts %} posts so far.</p>
    <p>
      <a href="{% url "blog:post_feed" %}">Subscribe to my RSS feed</a>
    </p>

    <div>{% block content %} {% endblock %}</div>

    <h2>Latest Posts</h2>
    {% show_latest_posts 3 %}

    <h3>Most commented posts</h3>
    {% get_most_commented_posts as most_commented_posts %}
    <ul>
      {% for post in most_commented_posts %}
        <li>
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
