{% extends 'blog/base.html' %} 
{% block title %} {{ post.title }} {% endblock title %} 
{% block content %}
    <h1>{{ post.title }}</h1>
    <p>Published on {{ post.publish }} by {{ post.author }}.</p>
    {{ post.body|linebreaks }}
    <p>
    <a href="{% url 'blog:post_share' post.id %}">Share this post</a>
    </p>

    {% with comments.count as total_comment %}
    <h2>{{total_comment}} comment{{total_comment|pluralize}}</h2>
    {% endwith %} {% for comment in comments %}
    <div>
    <p>Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}</p>
    {{ comment.body|linebreaks }}
    </div>
    {% empty %}
    <p>There are no comments here</p>
    {% endfor %}

    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <h2>Say something nice</h2>
        <form method='post'>
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type='submit' value='Add Comment'></p>
        </form>
    {% endif %}
{% endblock content %}
