{% extends "blog/base.html" %} {% load blog_tags %} {% block title %}Edit
{{ post.title }}{% endblock %} {% block content %}



{% if user.is_authenticated %}
  {% if request.user.id == post.author.id %}
    <h2>Edit {{ post.title }}</h2>

    <form method="POST">
      {% csrf_token %} 
      {{form.as_p}}
      <button type="submit">Edit</button>
    </form>
  {% else %}
    <h2>Error 401 - Unauthorized!</h2>
    <p>
      <a href="{% url 'blog:post_list' %}">Back Home</a>
    </p>
  {% endif %}
{% else %}
  <h2>Error 401 - Unauthorized!</h2>
  <p>
    <a href="{% url 'blog:post_list' %}">Back Home</a>
  </p>
{% endif %}

{% endblock content %}
